/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap'); */
@import url('https://api.fonts.coollabs.io/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://api.fonts.coollabs.io/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://api.fonts.coollabs.io/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root {
	background-color: black;
	color: white;
	--fluxer-font: 'Bricolage Grotesque', 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif;
	font-family: 'IBM Plex Sans';
}

button:hover {
	cursor: pointer;
}

.border-default {
	@apply border-2;
}

@theme {
	/* --text-tiny: 0.625rem; */
	--text-2sm: calc(var(--text-sm) / 1.25);
}

.border-t-dashed {
	border-top-style: dashed;
}

.border-b-dashed {
	border-bottom-style: dashed;
}

.border-colors-default {
	@apply border-neutral-700 bg-neutral-800/80;
}
