/target
crates/target
crates/.env
crates/*/target
.env
config.json5
api-config.json5
worker-config.json5
**/*.ignore

.vscode
.zed

node_modules

dashboard/node_modules

# Output
dashboard.output
dashboard.vercel
dashboard.netlify
dashboard.wrangler
dashboard/.svelte-kit
dashboard/build

# OS
.DS_Store
Thumbs.db

# Vite
dashboard/vite.config.js.timestamp-*
dashboard/vite.config.ts.timestamp-*
